@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');

/* @import url('https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/* .menu_item {
  color: rgb(239, 233, 233);
}
.navitem {
  text-decoration: none;
  font-family: 'Lobster', cursive;
  font-family: 'Lobster Two', cursive;
  font-size: 1.3em;
  color: white;
}
.btn {
  border: none;
  border-radius: 20px;
  font-family: 'Acme', sans-serif;
  color: white;
}

.name {
  font-family: 'Lobster', cursive;
  font-family: 'Lobster', cursive;
  font-size: 1.3em;
}
span {
  /* font-family: 'Acme', sans-serif; */
/* font-family: 'Lobster', cursive;
  font-family: 'Lobster', cursive;
  color: white; */
/* font-size: 1.2em; */
/* }  */
